/* font import */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* body style start*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: rgba(245, 245, 245, 1);
}

.body_container {
    max-width: 1280px;
    margin: auto;
    font-family: Fira Sans;
}

button {
    cursor: pointer;
}

/* nav bar style start */

nav {
    display: flex;
    margin-top: 24px;
    margin-bottom: 44px;
    align-items: center;
    justify-content: space-between;
}

nav a h1 {
    font-weight: bold;
    font-size: 32px;
    color: rgba(14, 14, 14, 1);
}

nav a {
    text-decoration: none;
}

nav button {
    padding: 20px 30px;
    border: 2px solid rgba(0, 106, 80, 1);
    color: rgba(0, 106, 80, 1);
    background-color: transparent;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

nav button:hover {
    background-color: rgba(0, 106, 80, 1);
    color: white;
}

/* bannar style start */

.bannar {
    background: rgba(198, 228, 214, 1);
    border-radius: 24px;
    margin-top: 20px;
}

.bannar_container {
    display: flex;
    gap: 64px;
    padding: 80px 60px;
}

.bannar_container_1 h3 {
    font: 24px;
    color: rgba(14, 14, 14, 0.5);
    font-weight: 500;
}

.bannar_container_1 h1 {
    font-size: 56px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    padding: 16px 0px 24px;
}

.bannar_container_1 button {
    color: white;
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid rgba(0, 106, 80, 1);
    font-family: Fira Sans;
}

.bannar_container_1 button:hover {
    background: transparent;
    border: 2px solid rgba(0, 106, 80, 1);
    color: rgba(0, 106, 80, 1);
    ;
}

.bannar_container_2 img {
    width: 474.03px;
    height: 400px;
}

/* card section start  */

.vision {
    margin-top: 80px;
}

.vision_container_text h1 {
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
}

.vision_container_text p {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0px 32px;
}

.vision_container_elements {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.vision_container_elements .box1 {
    height: 325px;
    width: 410.67px;
    background: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}

.box1 .box_container {
    max-width: 378.67px;
    margin: 32px;
}

.box1 .box_container img {
    height: 64px;
    width: 64px;
}

.box1 .box_container h3 {
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 24px;
}

.box1 .box_container p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin: 24px 0px 24px;
}

.box1 .box_container button {
    padding: 11px 20px;
    border-radius: 8px;
    background-color: rgba(84, 144, 245, 1);
    font-size: 16px;
    color: white;
    border: none;
}

.vision_container_elements .box2 {
    height: 325px;
    width: 410.67px;
    background: rgba(198, 228, 214, 1);
    border-radius: 8px;
}

.box2 .box_container {
    max-width: 378.67px;
    margin: 32px auto;
}

.box2 .box_container img {
    height: 64px;
    width: 64px;
}

.box2 .box_container h3 {
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 24px;
}

.box2 .box_container p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin: 24px 0px 48px;
}

.box2 .box_container button {
    padding: 11px 20px;
    border-radius: 8px;
    background-color: rgba(9, 161, 92, 1);
    font-size: 16px;
    color: white;
    border: none;
}

.vision_container_elements .box3 {
    height: 325px;
    width: 410.67px;
    background: rgba(247, 235, 207, 1);
    border-radius: 16px;
}

.box3 .box_container {
    max-width: 378.67px;
    margin: 32px;
}

.box3 .box_container img {
    height: 64px;
    width: 64px;
}

.box3 .box_container h3 {
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 24px;
}

.box3 .box_container p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin: 24px 0px 47px;
    width: 362.67px;
}

.box3 .box_container button {
    padding: 11px 20px;
    border-radius: 8px;
    background-color: rgba(255, 194, 57, 1);
    font-size: 16px;
    color: white;
    border: none;
}

/* quotes of younus section start */

.quotes {
    margin-top: 32px;
}

.quotes .quotes_container {
    padding: 48px 24px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: url("../assets/quote-bg.png"),
        white;
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 25px;
}

.quotes_container_elements p {
    color: rgba(14, 14, 14, 0.8);
    line-height: 24px;
}

.quotes_container_elements h2 {
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
    margin: 12px 0px 4px;
}

.quotes_container_elements h3 {
    font-size: 16px;
    color: rgba(14, 14, 14, 0.6);
    font-weight: 400;
    line-height: 24px;
}

.recent_container {
    margin-top: 80px;
}

.satellite {
    padding: 48px;
    border-radius: 24px;
    background-color: white;
}

.satellite_elements {
    display: flex;
    gap: 32px;
}

.satellite_elements .imges img {
    border-radius: 24px;
}

.satellite_elements .satellite_text h1 {
    font-weight: bold;
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

.satellite_elements .satellite_text h4 {
    color: rgba(14, 14, 14, 0.7);
    font-weight: 400;
    display: inline;
    margin-right: 12px;
}

.satellite_elements .satellite_text img {
    display: block;
    margin-bottom: 12px;
}

.satellite_elements .satellite_text p {
    margin: 12px 0px 32px;
    color: rgba(14, 14, 14, 0.7);
}

.satellite_elements .satellite_text button {
    padding: 13px 26px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
}

.satellite_text {
    margin-top: 16px;
}

.gap {
    margin: 24px 0px;
}

.textaling {
    text-align: center;
}

.donet {
    margin: 80px 0px;

}

.boxsizing {
    display: flex;
    justify-content: space-around;
    width: 1071px;
    margin: 0px auto;
}

.boxsizing .box {
    height: 128px;
    width: 240px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    cursor: pointer;
}

.boxsizing .box:hover {
    background-color: rgba(198, 228, 214, 1);
}

.boxsizing .boxcolor {
    background-color: rgba(198, 228, 214, 1);
}

.inputdiv input {
    padding: 20px 388.5px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    font-size: 20px;
    font-family: Fira Sans;
}

.btn button {
    color: white;
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    border: 2px solid rgba(0, 106, 80, 1);
    font-family: Fira Sans;
}

.donet_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

/* newseletter part start */

.newsletter {
    background: rgba(198, 228, 214, 1);
    border-radius: 24px;
}

.newsletter_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.newsletter_container p {
    color: rgba(14, 14, 14, 0.7);
}

.newsletter_container_elements h1 {
    font-weight: bold;
    font-size: 40px;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 16px;
}

.newsletter_container_elements p {
    color: rgba(14, 14, 14, 0.7);
}

.input_btn input {
    padding: 18px 403px 18px 40px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    outline: none;
    font-family: Fira Sans;
}

.input_btn {
    display: flex;
}

.input_btn button {
    color: white;
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 0px 8px 8px 0px;
    border: none;
    font-family: Fira Sans;
}